/node_modules
/public/hot
/public/storage
/public/swagger-ui/index.html
/storage/api-docs
/storage/debugbar
/vendor
/.idea
/.vscode
/.vagrant
/resources/views/vendor/l5-swagger
Homestead.json
Homestead.yaml
.env
*.log
*.pid
*.swp
