version: '3'

services:

  checkin:
    image: checkin
    container_name: checkin
    restart: always
    volumes:
      - ./:/var/www/html
      - /www/checkin/shared:/www/checkin/shared
    env_file:
      - .env

networks:
  default:
    external:
      name: proxy_network
