larvata-checkin:
  image: larvata-checkin
  container_name: larvata-checkin
  restart: always
  ports: 
    - "7778:80"
  volumes:
    - ./:/var/www/html
    - ./config/apache2.conf:/etc/apache2/apache2.conf
