version: '3'

services:

  larvata-2018-checkin:
    image: checkin
    container_name: checkin
    restart: always
    expose:
      - "80"
    volumes:
      - ./:/var/www/html
      - /www/checkin/shared:/www/checkin/shared
    env_file:
      - .env

  larvata-2018-checkin-linebot:
    build:
      context: ./larvata-2018-checkin-linebot
    image: larvata-2018-checkin-linebot
    container_name: larvata-2018-checkin-linebot
    restart: always
    ports:
      - "8080:80"
    links:
      - checkin
    env_file:
      - ./larvata-2018-checkin-linebot/.env
    volumes:
      - ./larvata-2018-checkin-linebot/:/home/app
      - ./larvata-2018-checkin-linebot/shared:/www/larvata-2018-checkin-linebot/shared
    working_dir: /home/app
    command: ["/bin/sh", "run.sh"]

networks:
  default:
    external:
      name: proxy_network
