# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/php:7.2-apache-node-browsers

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: mysql:5.7
        command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_bin --innodb-large-prefix=true --innodb-file-format=Barracuda

        environment:
          MYSQL_USER: root
          MYSQL_ALLOW_EMPTY_PASSWORD: true

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install Extensions
          command: |
            sudo apt update
            sudo apt install -y mysql-client libpng-dev
            sudo docker-php-ext-install pdo pdo_mysql gd

      - run: cp .env.circleci .env
      - run:
          name: Create checkin database
          command: mysql -h 127.0.0.1 -u root -e "create database checkin;"

      - run:
          name: Create checkin tables
          command: mysql -h 127.0.0.1 -u root checkin < ./database/circleci/checkin.sql

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: composer install -n --prefer-dist

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}

      # run tests!
      - run:
          name: Run php unit tests
          command: vendor/bin/phpunit --testsuite=Feature --testdox-html report.html

      # notification to stride
      - run:
          name: Notify To Stride When Test Success
          when: on_success
          command: |
            curl -X POST \
            -H 'Content-Type: application/json' \
            -H 'Authorization: Bearer '"${STRIDE_TOKEN}"'' \
            -d '{"body":{"version":1,"type":"doc","content":[{"type":"applicationCard","attrs": {"text": "test message","collapsible":true,"title":{"text":"Circle CI Report","user":{"icon":{"url":"https://a.slack-edge.com/7f1a0/plugins/circleci/assets/service_512.png","label":"Circle CI"}}},"description":{"text":"'"${CIRCLE_USERNAME}"' built '"${CIRCLE_PROJECT_REPONAME}"' '"${CIRCLE_BRANCH}"'"},"details":[{"lozenge": {"text": "Build Success","appearance": "success"}}],"link":{"url":"'"${CIRCLE_BUILD_URL}"'"}}}]}}' \
            --url "${STRIDE_URL}"
      - run:
          name: Notify To Stride When Test Fail
          when: on_fail
          command: |
            curl -X POST \
            -H 'Content-Type: application/json' \
            -H 'Authorization: Bearer '"${STRIDE_TOKEN}"'' \
            -d '{"body":{"version":1,"type":"doc","content":[{"type":"applicationCard","attrs": {"text": "test message","collapsible":true,"title":{"text":"Circle CI Report","user":{"icon":{"url":"https://a.slack-edge.com/7f1a0/plugins/circleci/assets/service_512.png","label":"Circle CI"}}},"description":{"text":"'"${CIRCLE_USERNAME}"' built '"${CIRCLE_PROJECT_REPONAME}"' '"${CIRCLE_BRANCH}"'"},"details":[{"lozenge": {"text": "Build Failed","appearance": "removed"}}],"link":{"url":"'"${CIRCLE_BUILD_URL}"'"}}}]}}' \
            --url "${STRIDE_URL}"

  prod-deploy:
    machine:
      image: circleci/classic:latest
    steps:
      - checkout
      - run:
          name: Login larvata registry
          command: echo $REGISTRY_PASSWORD | docker login registry.larvata.tw -u larvata --password-stdin
      - run:
          name: Build docker image
          command: docker build -f Baseimagefile --rm -t registry.larvata.tw/checkin:0.0.$CIRCLE_BUILD_NUM .
      - run:
          name: Push image
          command: docker push registry.larvata.tw/checkin:0.0.$CIRCLE_NUILD_NUM
      # notification to stride
      - run:
          name: Notify To Stride When Test Success
          when: on_success
          command: |
            curl -X POST \
            -H 'Content-Type: application/json' \
            -H 'Authorization: Bearer '"${STRIDE_TOKEN}"'' \
            -d '{"body":{"version":1,"type":"doc","content":[{"type":"applicationCard","attrs": {"text": "test message","collapsible":true,"title":{"text":"Circle CI Report","user":{"icon":{"url":"https://a.slack-edge.com/7f1a0/plugins/circleci/assets/service_512.png","label":"Circle CI"}}},"description":{"text":"'"${CIRCLE_USERNAME}"' built '"${CIRCLE_PROJECT_REPONAME}"' '"${CIRCLE_BRANCH}"'"},"details":[{"lozenge": {"text": "Build Success","appearance": "success"}}],"link":{"url":"'"${CIRCLE_BUILD_URL}"'"}}}]}}' \
            --url "${STRIDE_URL}"
      - run:
          name: Notify To Stride When Test Fail
          when: on_fail
          command: |
            curl -X POST \
            -H 'Content-Type: application/json' \
            -H 'Authorization: Bearer '"${STRIDE_TOKEN}"'' \
            -d '{"body":{"version":1,"type":"doc","content":[{"type":"applicationCard","attrs": {"text": "test message","collapsible":true,"title":{"text":"Circle CI Report","user":{"icon":{"url":"https://a.slack-edge.com/7f1a0/plugins/circleci/assets/service_512.png","label":"Circle CI"}}},"description":{"text":"'"${CIRCLE_USERNAME}"' built '"${CIRCLE_PROJECT_REPONAME}"' '"${CIRCLE_BRANCH}"'"},"details":[{"lozenge": {"text": "Build Failed","appearance": "removed"}}],"link":{"url":"'"${CIRCLE_BUILD_URL}"'"}}}]}}' \
            --url "${STRIDE_URL}"

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - prod-deploy:
          requires:
            - build
          filters:
            branches:
              only: develop
