# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/php:7.1.5-browsers

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

	  - run: php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
	  - run: php -r "if (hash_file('SHA384', 'composer-setup.php') === '669656bab3166a7aff8a7506b8cb2d1c292f042046c5a994c43155c0be6190fa0355160742ab2e1c88d40d5be660b410') { echo 'Installer verified'; } else { echo 'Installer corrupt'; unlink('composer-setup.php'); } echo PHP_EOL;"
	  - run: php composer-setup.php
	  - run: php -r "unlink('composer-setup.php');"
	  - run: php composer.phar self-update
	  - run: sudo mv composer.phar /usr/local/bin/composer

      - run: composer install -n --prefer-dist

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.json" }}

      # run tests!
      - run:
          name: Run php unit tests
          command: vendor/bin/phpunit --testsuite=Feature --testdox-html report.html

      # notification to stride
      - run:
          name: Notify To Stride When Test Success
          when: on_success
          command: |
            curl -X POST \-H 'Content-Type: application/json' \
            -H 'Authorization: Bearer '"${STRIDE_TOKEN}"'' \
            -d '{"body":{"version":1,"type":"doc","content":[{"type":"applicationCard","attrs": {"text": "test message","collapsible":true,"title":{"text":"Circle CI Report","user":{"icon":{"url":"https://a.slack-edge.com/7f1a0/plugins/circleci/assets/service_512.png","label":"Circle CI"}}},"description":{"text":"'"${CIRCLE_USERNAME}"' built '"${CIRCLE_PROJECT_REPONAME}"' '"${CIRCLE_BRANCH}"'"},"details":[{"lozenge": {"text": "Build Success","appearance": "success"}}],"link":{"url":"'"${CIRCLE_BUILD_URL}"'"}}}]}}' \
            --url "${STRIDE_URL}"
      - run:
          name: Notify To Stride When Test Fail
          when: on_fail
          command: |
            curl -X POST \
            -H 'Content-Type: application/json' \
            -H 'Authorization: Bearer '"${STRIDE_TOKEN}"'' \
            -d '{"body":{"version":1,"type":"doc","content":[{"type":"applicationCard","attrs": {"text": "test message","collapsible":true,"title":{"text":"Circle CI Report","user":{"icon":{"url":"https://a.slack-edge.com/7f1a0/plugins/circleci/assets/service_512.png","label":"Circle CI"}}},"description":{"text":"'"${CIRCLE_USERNAME}"' built '"${CIRCLE_PROJECT_REPONAME}"' '"${CIRCLE_BRANCH}"'"},"details":[{"lozenge": {"text": "Build Failed","appearance": "removed"}}],"link":{"url":"'"${CIRCLE_BUILD_URL}"'"}}}]}}' \
            --url "${STRIDE_URL}"
